<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex">
      <div class="main-info">
        <h1>{{tourCompany.tourCompName}}</h1>
        <p>{{tourCompany.tourCompAdress}}</p>
        <a href="{{tourCompany.tourCompUrl}}">{{tourCompany.tourCompUrl}}</a>
      </div>
      <div class="photo ml-5">
        <img src="{{tourCompany.tourCompPhoto}}" alt="" width="120px">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
<div class="text">
  <p>{{tourCompany.tourCompDecription}}</p>
  <h2>Рейтинг: {{tourCompany.tourCompLikes}}</h2>
  <button class="btn btn-success mr-2" (click)="pressLike()">Like</button>
  <button class="btn btn-danger" (click)="pressDislike()">Dislike</button>
</div>
</div>



