<button></button>
<button></button>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex">
      <div class="main-info">
        <h1>{{tourCompany.tourCompName}}</h1>
        <p>{{tourCompany.tourCompAdress}}</p>
        <a href="{{tourCompany.tourCompUrl}}">{{tourCompany.tourCompUrl}}</a>
      </div>
      <div class="photo ml-5">
        <img src="{{tourCompany.tourCompPhoto}}" alt="" width="120px">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
<div class="text">
  <p>{{tourCompany.tourCompDecription}}</p>
  <h2>Рейтинг: {{tourCompany.tourCompRate}}</h2>
</div>
</div>


