<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 picture-div">
      <img src="http://localhost:8080/pics/beach.jpg"/>
    </div>
    <div class="col-md-4 form-div">
      <form>
        <div class="form-group">
          <label for="login">Логин</label>
          <input type="text" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Введите логин" name="login" [(ngModel)]="login">
          <ng-container *ngIf="checkValid == 1"><p><span class="error-message">Логин уже занят</span></p></ng-container>
        </div>
        <div class="form-group">
          <label for="email">Почта</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адресс электронной почты" name="email" [(ngModel)]="email">
          <small id="emailHelp" class="form-text text-muted">Мы никому не сообщаем ваш адресс электронной почты</small>
          <ng-container *ngIf="checkValid == 2"><p><span class="error-message">Почтовый адресс уже занят</span></p></ng-container>
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" ng class="form-control" id="password" aria-describedby="emailHelp" placeholder="Введите пароль" name="password" [(ngModel)]="password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" (click)="save()" class="btn btn-primary">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</div>
