<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/reg">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<div class="footer container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="footer-menu">
        <h3>Туризм</h3>
        <a href="">Туры</a>
        <a href="">Горящие туры</a>
        <a href="">Турфирмы</a>
        <a href="">Визы</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer-menu">
        <h3>Популярное</h3>
        <a href="">Египет</a>
        <a href="">Турция</a>
        <a href="">Кипр</a>
        <a href="">Болгария</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer-menu">
        <h3>Общая информация</h3>
        <a href="">Контакты</a>
        <a href="">О нас</a>
        <a href="">Мы на карте</a>
      </div>
    </div>
  </div>
</div>
