<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EzTourism</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Туризм
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Популярное
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Общая информация
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <ng-container *ngIf="userName === ''">
    <div class="ml-auto">
      <a class="btn btn-primary" href="/reg">Регистрация/Авторизация</a>
    </div>
    </ng-container>
    <ng-container *ngIf=" userName != ''">
      <div class="ml-auto">
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [(ngModel)]="userName">
            {{userName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
            <a class="dropdown-item"  (click)="deleteCookie()">Выйти</a>
          </div>
        </li>
        </ul>
      </div>
    </ng-container>
  </div>
</nav>

<router-outlet></router-outlet>
<div class="footer container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="footer-menu">
        <h3>Туризм</h3>
        <a href="">Туры</a>
        <a href="">Горящие туры</a>
        <a href="">Турфирмы</a>
        <a href="">Визы</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer-menu">
        <h3>Популярное</h3>
        <a href="">Египет</a>
        <a href="">Турция</a>
        <a href="">Кипр</a>
        <a href="">Болгария</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer-menu">
        <h3>Общая информация</h3>
        <a href="">Контакты</a>
        <a href="">О нас</a>
        <a href="">Мы на карте</a>
      </div>
    </div>
  </div>
</div>
