<div class="container">
  <h1>Важная информация</h1>
  <p>
    Мы компания "EzTourism" специализируемся на помощи туристам. Мы предлагаем большое количество информации
    нашим пользователям. Также мы сотрудничаем с тур-фирмами, которые предоставляют
    свежую и достоверную информацию о новых путешествиях.
  </p>
  <h3>Для тур-фирм</h3>
  <p>
    Если вы молодая развивающаяся тур-компания, которая желает стать более известной среди
    туристов, мы предлагаем сотрудничество. Для начала вам необходимо будет показать качество ваших услуг.
    То есть, для размещения вашей тур-фирмы на нашем ресурсе, необходимо соответствовать определённому уровню.
    Так же быть на рынке от 1 года.
    В случае соответвсвия нашим критериям, ваша тур-комания будет размещена на нашем ресурсе, а также ваши активные туры
    и другие продукты.
    Мы всегда готовы к предложениям.
  </p>
  <h3>Для туристов</h3>
  <p>
    Мы заботимся о каждом клиенте. Каждая тур-фирма, которая размещена нашем ресурсе прошла глубокую проверку
    и доказала высокий уровень предоставляемых услуг. Ни одна тур-фирма, размещёная на нашем ресурсе, не попала
    сюда из-за выгодного денеженого предложения. Потому что мы уважаеем наших пользователей и желаем только того, чтобы
    вы хорошо отдохнули.
  </p>
  <p>Контакная информация</p>
  <ul>
    <li>Телефон: +375(29)185-04-65</li>
    <li>Электронная почта: ezTourism@index.by</li>
    <li>Тел/факс: +375(17)270-88-69</li>
  </ul>

  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8c5f6b12a9056114272b5adcf440a9b3af8778fadfe47d3f79e45b19e0f88d0f&amp;source=constructor" width="1126" height="431" frameborder="0"></iframe>
</div>
